html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 99, 0);
}

p {
    color: white;
}

.header {
    color: rgb(255, 255, 255);
}

.carousel_info_light {
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.container {
    font-family: 'Lobster', cursive;
}

hr {
    border-color: #ffffff;
    border-width: 3px;
    max-width: 50px;
    margin-left: 7px;
}

hr.light {
    border-color: white;
}

#transportation {
    background-color: #ff2600;
}

#reservation {
    background-color: #2bff00;
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #ffffff;
}

a:hover, a:focus {
    color: #ffffff;
}

.navbar-default {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
}

.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
    color: #00c5fa;
}

.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
}

.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}

.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus:hover {
    color: #00d1ff;
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: #00f7ff !important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a:hover, .navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.3);
    }
}

#accommodation, #reservation, #transportation {
    color: rgb(255, 255, 255);
}

#tourkenyalogo {
    margin-left: 550px;
}

#contact {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}

#contact_us {
    margin-left: 540px;
}

i.fa:hover {
    cursor: pointer;
    color: rgb(255, 84, 0)
}

section {
    background-color: rgb(48, 48, 48);
    position: relative;
    padding: 1px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

span.underline {
    background-color: #ff5400;
    /* same as link color */
    display: block;
    height: 1px;
    width: 60%;
    padding: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    margin-left: 50px;
}

.underlineTwo {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}


#facebook:hover ~ #fb .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#skype:hover ~ #sk .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#github:hover ~ #gt .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#phone:hover ~ #tp .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}




#facebook:hover ~ #fb .underlineTwo {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#github:hover ~ #gt .underlineTwo {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#skype:hover ~ #sk .underlineTwo {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#phone:hover ~ #tp .underlineTwo {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#snapchat:hover ~ #sp .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#instagram:hover ~ #ig .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#whatsapp:hover ~ #wp .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#windows:hover ~ #ot .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}




#snapchat:hover ~ #sp .underlineTwo {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#instagram:hover ~ #ig .underlineTwo {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#whatsapp:hover ~ #wp .underlineTwo {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#windows:hover ~ #ot .underlineTwo {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.fa-green{
    color: rgb(0, 254, 48)
}

.fa-blue{
    color: rgb(0, 219, 206)
}
.fa-yellow{
    color: rgb(254, 244, 0)
}
.fa-purple{
    color: rgb(249, 0, 231)
}
