#szlider{
    width:100%;
    height:15px;
    border:1px solid #000;
    overflow:hidden; }
#szliderbar{
    width:37%;
    height:15px;
    border-right: 1px solid #000000;
    background: #7777ee; }
#szazalek {
    color: #000000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -16px; }
.item img {
    height: 500px;
    width: 1200px;
}

.navbar-default {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #F05F40;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #F05F40 !important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.3);
    }
}

#uber-bar {
    text-align: center;
    font-size: 30px;
}

#tag {
    font-size: 20px;
}

#logo {
    height: 80px;
    width: 100px;
}

#header {
    background-color: white;
    text-align: center;
}

.header_1 {
    text-decoration: none;
    color: black;
    text-align: center;
}

.carousel_info_dark {
    color: black;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

.carousel_info_light {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

#myCarousel .nav a small {
    display: block;
}

#myCarousel .nav {
    background: #eee;
}

#myCarousel .nav a {
    border-radius: 0px;
}

body {
    background-color: #f2f2ed;
    font-family: 'Sansita', sans-serif;
    color: #222222;
}
section{
  padding-bottom: 20px;
}

#main {
    padding-top: 31px;
}

.fa.fa-play-circle {
    font-size: 48px;
    color: red;
}
.attractions_gray{
font-family: 'Cardo', serif;

}
.section1_header{
  font-size: 40px;
  text-align: center;
}
.section_text{
  font-size: 20px;
  text-align: center;
}
#section-1{
  width: 860px;
height: 367.391px;
text-align: justify;;
margin-left: 150px;
}
#roll{
  background-color: #b4975a;
  color: white;

}

.innerText{
  padding-top: 5px;
  text-align: center;
}
.section_header {
  position: relative;
  text-align: center;
  font-size: 40px;
  text-align: center;
}

.section_header span {
  position: relative;
  z-index: 1;
}

.section_header:before {
  background:#222222 ;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 20%;
  margin-left: 230px;
}
.section_header:after{
  background:#222222 ;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 20%;
  margin-right: 230px;
}

.section_header:before {
  left: 0;
}
.section_header:after{
  right: 0;
}
.attractions_brown{
    font-family: 'Cardo', serif;
    background: #e6dac1;
}
.section2_header {
  position: relative;
  text-align: center;
  font-size: 40px;
  text-align: center;
}

.section2_header span {
  position: relative;
  z-index: 1;
  color: #977c44;
}

.section2_header:before {
  background:#977c44 ;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 20%;
  margin-left:250px;
}
.section2_header:after{
  background:#977c44 ;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 20%;
  margin-right: 250px;
}

.section2_header:before {
  left: 0;
}
.section2_header:after{
  right: 0;
}
.images_small{
  height:260px;
  width:278.516px;
}
.section1_header {
  position: relative;
  text-align: center;
  font-size: 40px;
  text-align: center;
}

.section1_header span {
  position: relative;
  z-index: 1;
  color: #977c44;
}

.section1_header:before {
  background:#977c44 ;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 20%;
  margin-left:150px;
}
.section1_header:after{
  background:#977c44 ;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 20%;
  margin-right: 150px;
}

.section1_header:before {
  left: 0;
}
.section1_header:after{
  right: 0;
}
